.Header img{
    height: 100px;
}
.Header{
    text-align: center;
}
.Header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
.Header nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    
}
.Header nav a:hover{
    background-color: gray;
}